* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

[data-js='root'] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #e2c3ab;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e4274;
  padding: 1% 0%;
  gap: 1%;
}

h1 {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #e2c3ab;
}

.form-container {
  font-size: 20px;
  font-weight: 400;

  padding: 2% 0%;
  background-color: #4b527e;
}

.form-container label {
  margin-right: 2%;
}

::placeholder {
  color: #ffffff;
}

.form-container select,
input,
button {
  font-size: 20px;
  font-weight: 400;
}

.form-container select,
input {
  padding: 1% 2%;
  background-color: #7d81ae;

  border: none;
  border-radius: 10px;
}

.form-container button {
  padding: 1% 2%;
  background-color: #fe6185;

  border: none;
  border-radius: 10px;
}

.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.items-list {
  flex-grow: 1;
}

.items-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.items-container * {
  color: #4b527e;
}

.items-container i {
  cursor: pointer;
}

.item-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 2%;
}

.kept {
  text-decoration-line: line-through;
}

.filter {
  display: flex;
  align-self: center;
  gap: 1rem;
  padding: 2rem;
}

.filter select {
  background-color: #7d81ae;
  font-size: 20px;

  padding: 1rem;

  border: none;
  border-radius: 10px;
}

.filter button {
  background-color: rgba(255, 68, 0, 0.568);
  font-size: 20px;
  cursor: pointer;

  padding: 1rem;

  border: none;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  padding: 2% 0%;
  background-color: #4b527e;
}
